---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import PostCard from "../../components/PostCard.astro";
import PostCardSide from "../../components/PostCardSide.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

import { getAllBlogs } from "../../repositories/microcmsRepository";
import { chunk } from "../../utils/arrayUtil";
const res = await getAllBlogs({
	fields: ["id", "title", "content", "createdAt", "url", "eyecatch"],
});
const latestConent = res.contents[0];
const contents = res.contents.slice(1);
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<main>
			<div class="container mx-auto w-full">
				<div class="grid grid-cols-1 mb-10">
					<PostCardSide
						title={latestConent.title}
						href={latestConent.id}
						content={latestConent.content}
						eyecatch={latestConent.eyecatch}
					/>
				</div>
				<div class="grid grid-cols-4 gap-16">
					{
						contents.map((content, index) => (
							<PostCard
								title={content.title}
								href={content.id}
								content={content.content}
								eyecatch={content.eyecatch}
							/>
						))
					}
				</div>
			</div>
		</main>

		<style>
			body {
				background-color: #fff;
			}
		</style>
	</body>
</html>
