---
import { SITE_TITLE, noImageUrl } from "../consts";
import Layout from "../layouts/Layout.astro";

import { findAll, findById } from "../repositories/blogRepository";
import { BlogContent } from "../types/blogTypes";

import { toPostDate } from "../utils/dateUtil";

export async function getStaticPaths() {
	const res = await findAll({ fields: ["id"] });
	return res.contents.map((content) => ({
		params: { contentId: content.id },
	}));
}

const { contentId } = Astro.params;
const blogContent: BlogContent | null =
	contentId == null ? null : await findById(contentId);
const layoutTitle = `${blogContent?.title ?? ""} | ${SITE_TITLE}`;
const title = blogContent?.title ?? "Untitled";
const content = blogContent?.content ?? "No content";
const categories = blogContent?.category ? [blogContent?.category.name] : [];
const date = blogContent?.createdAt
	? toPostDate(blogContent.createdAt)
	: "yyyy-MM-dd";
const imageUrl = blogContent?.eyecatch?.url ?? noImageUrl;
---

<Layout title={layoutTitle}>
	<main>
		<div class="container mx-auto mt-8 w-5/6 lg:w-1/2">
			<figure class="bg-violet-300">
				<img class="h-64 mx-auto mb-4" src={imageUrl} alt="eyecatch" />
			</figure>
			<p class="mb-1">{date}</p>
			<h1 class="mb-1 text-2xl font-bold">{title}</h1>
			{
				categories.map((category) => (
					<div class="badge badge-sm badge-primary">{category}</div>
				))
			}
			<div class="mb-8"></div>
			<div class="leading-8" set:html={content} />
		</div>
	</main>
</Layout>
