---
import Layout from "../layouts/Layout.astro";
import PostCard from "../components/PostCard.astro";

import { findAll } from "../repositories/blogRepository";
const res = await findAll({
	fields: [
		"id",
		"title",
		"content",
		"createdAt",
		"url",
		"eyecatch",
		"category",
	],
});
const latestConent = res.contents[0];
const contents = res.contents.slice(1);
---

<Layout>
	<main>
		<div class="container mx-auto w-full">
			<div class="hero h-100 mt-8 mb-8 bg-primary-content">
				<div class="hero-content text-center">
					<div class="max-w-md">
						<figure class="mb-8">
							<a href="https://github.com/ty24-github/blog">
								<img
									class="github-icon mx-auto hover:opacity-80"
									src="/images/icon/github-mark.png"
									width="80px"
									height="80px"
								/>
							</a>
						</figure>
						<div
							class="mockup-code bg-primary text-primary-content"
						>
							<pre data-prefix=">"><code>Hello there</code></pre>
						</div>
						<!-- <h1 class="text-4xl font-bold">Hello there</h1> -->
					</div>
				</div>
			</div>

			<div class="grid grid-cols-1 place-items-center">
				<PostCard
					contentId={latestConent.id}
					title={latestConent.title}
					content={latestConent.content}
					eyecatch={latestConent.eyecatch}
					category={latestConent.category}
					createdAt={latestConent.createdAt}
					isSide={true}
				/>
			</div>
			<div class="grid grid-cols-1 lg:grid-cols-4 place-items-center">
				{
					contents.map((content) => (
						<PostCard
							contentId={content.id}
							title={content.title}
							content={content.content}
							eyecatch={content.eyecatch}
							category={content.category}
							createdAt={content.createdAt}
							isSide={false}
						/>
					))
				}
			</div>
		</div>
	</main>
</Layout>

<style></style>
